@media screen and (max-width: 1536px) {
  .wrapper {
    display: block;
  }

}

@media screen and (max-width: 1025px) {
  .wrapper {
    display: none;
  }

  .max-with {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .max-with {
    display: none;
  }

  .wrapper {
    display: none;
  }

  .mobile {
    display: block;
  }
}